<div class="m-3">
  <h3>
  About us
</h3>
<p class="m-3">
    The Indian Red Cross is a voluntary humanitarian organization having a network of over 1100 branches throughout the country, providing relief in times of disasters/emergencies and promotes health & care of the vulnerable people and communities. It is a leading member of the largest independent humanitarian organization in the world, the International Red Cross & Red Crescent Movement. The movement has three main components, the International Committee of Red Cross (ICRC), 187 National Societies and International Federation of Red Cross and Red Crescent Societies.
</p>
</div>